---
layout: default
title: News
description: Check out all the latest CheltBMX news and updates here.
featured_image: /images/social.jpg
---

<section class="listing single">

	<div class="wrap">

		{% for news in site.news reversed %}

		<article class="listing-post">

			<div class="listing-post__header">
				<h2 class="listing-post__title"><a href="{{ news.url | relative_url }}">{{ news.title }}</a></h2>
				<p class="listing-post__subtitle">{{ news.subtitle }}</p>
			</div>

			{% if news.featured_image %}
			<a href="{{ news.url | relative_url }}" class="listing-post__image" style="max-width: 1080px; background-image: url({{ news.featured_image | relative_url }});"></a>
			{% endif %}

			<div class="listing-post__content">
				<p>{{ news.excerpt }}</p>
				<p><a href="{{ news.url | relative_url }}" class="button">View news</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>